<div class="grid-layout">
    <h2>Patient Information List</h2>
</div>
<div class="grid-layout">
    <h4>
        <p>Double click and update the values (image Url too).</p> 
        <p>Use the filter to find data. Only 'Name' column is made sortable.</p>
        <p>Refresh grid to reset any sort or filters if applied.</p>
    </h4>
</div>
<div class="grid-layout">
    <button id="refreshGrid" class="btn btn-green" style="justify-content: right;" 
    (click)="loadGridData()">Refresh Grid</button>
</div>
<div id="ag-grid-list" class="grid-layout">
    
    <ag-grid-angular class="ag-theme-alpine" style="width: 1000px; height: 600px;"
        (gridReady)="onGridReady($event)" [rowData]="rowData" [columnDefs]="columnDefs" [gridOptions]="gridOptions">
    </ag-grid-angular>
</div>